/**
 * Theme colors
 * *********************************/
$color-primary--dark-2: #17bd43;
$color-primary--dark-1: #20c04b;
$color-primary: #2bd758;
$color-primary--light-1: #40e46c;
$color-primary--light-2: #dbf7e2;

$color-secondary--dark-2: #b9170c;
$color-secondary--dark-1: #cc2013;
$color-secondary: #da291c;
$color-secondary--light-1: #e0382c;
$color-secondary--light-2: #e6493e;

/**
 * Subsidary color
 * *********************************/
$color-alt-green: #43bb55;
$color-alt-green-light: #5dcc6d;

$color-alt-orange: #ffa556;
$color-alt-orange-light: #ffbf87;

$color-alt-blue: #4ebdda;
$color-alt-blue-light: #69c9d6;

$color-alt-red: #fa7876;
$color-alt-red-light: #ff9391;

/**
 * Page background
 * *********************************/
$page-background: #f8f9fd;
$page-foreground: #061532;

$selection-backgroud: #ddd;
$selection-foreground: #444;

/**
* Common Color
* *********************************/
$transparent: rgba(255, 255, 255, 0);

$divider-color: #ebedf2;

$error-color: #ff6666;

/**
 * Menu & list
 * *********************************/
$focus-state: #f9fafe;
$hover-state: #e7eaf4;
$active-state: #99a0b8;

/**
 * Grid
 * *********************************/
$dataGrid-active: #f1f0e5;
