/**
 * Z-index
 * *********************************/
$dialog-index: 10000;

$select-index: 10010;

$magnifier-index: 10020;

$tokenizer-index: 10030;

$menu-index: 10040;

$datepicker-index: 10060;

$loading-index: 10070;

$snackbar-index: 11000;
