@mixin btn-maker($name, $mainColor, $outlineColor, $fgColor) {
  $selector: '.v-btn--#{$name}';

  &#{$selector} {
    &:not(.v-btn--outline) {
      color: $fgColor;
      background-color: $mainColor;
      box-shadow: 0 2px 4px 0 rgba($mainColor, 0.6);

      &:focus,
      &:hover {
        box-shadow: 0 3px 8px 0 rgba($mainColor, 0.6);
      }
    }

    &.v-btn--outline {
      background-color: $transparent;
      color: $outlineColor;
      box-shadow: inset 0 0 0 1px rgba($outlineColor, 0.4);

      &:focus,
      &:hover {
        background-color: rgba($outlineColor, 0.08);
      }
    }
  }
}
