$columns: 12;

@mixin make-column($size) {
  @for $i from 0 through $columns {

    @if $i>0 {
      .v-col-#{$size}-#{$i} {
        width: (100% / $columns)*$i;
      }
    }

    .v-col-#{$size}-offset-#{$i} {
      width: (100% / $columns)*$i;
    }

  }
}
