@mixin social-maker($name, $color) {
  $selector: '.social--${name}';

  &#{$selector} {
    &:hover {
      border-color: $color;
      background-color: $color;
    }

    &.social--small {
      background-color: $color;

      &:hover {
        background-color: lighten($color, 10%);
      }
    }
  }
}
