/*==============================
Ripple
================================*/
.v-ripple {
  opacity: 0.3;
  overflow: hidden;
  @include fit;

  &__item {
    position: absolute;
    background-color: currentColor;
    pointer-events: none;
    opacity: 1;
    transform: scale(0);
    will-change: opacity, transform;
    transition: transform 1200ms ease-out, opacity 600ms ease-out;
    @include radius(50%);

    &--active {
      opacity: 0;
      transform: scale(2);
    }

  }

}
