/**
 * Heading
 * *********************************/
.h1 {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.7;

  @media #{$md-down} {
    font-size: 24px;
  }

  @media #{$sm-down} {
    font-size: 20px;
  }

  @media #{$xs-down} {
    font-size: 18px;
  }

}

.h2 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.6;

  @media #{$md-down} {
    font-size: 20px;
  }

  @media #{$sm-down} {
    font-size: 18px;
  }

  @media #{$xs-down} {
    font-size: 16px;
  }

}

.h3 {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.6;

  @media #{$sm-down} {
    font-size: 16px;
  }

}

.h4 {
  font-size: 16px;
  line-height: 1.6;

  @media #{$sm-down} {
    font-size: 14px;
  }

}

.h5 {
  font-size: 14px;
  line-height: 1.6;
}

.h6 {
  font-size: 12px;
  line-height: 1.6;
}

/**
 * Font Weight
 * *********************************/
.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}

/**
 * List
 * *********************************/
.unorder-list,
.order-list {
  padding-right: 24px;
  line-height: 1.8em;

  @media #{$xs-down} {
    font-size: 13px;
  }

}

.order-list {
  list-style-type: decimal;

  .order-list {
    list-style-type: lower-roman
  }

}

.unorder-list {
  list-style-type: circle;

  .unorder-list {
    list-style-type: disc;
  }

}

/**
* Text
* *********************************/
.text {
  line-height: 2;

  &--pre-line {
    white-space: pre-line;
  }
}

.latin {
  display: inline-block;
  padding-top: 0.2em;
  line-height: 1.1;
}
